pipelines/pl_dynamic_copy_metadata.json
{
  "name": "pl_dynamic_copy_metadata",
  "properties": {
    "activities": [
      {
        "name": "GetTableList",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": "SELECT * FROM dbo.MetadataControl WHERE IsActive = 1",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_metadata_control",
            "type": "DatasetReference"
          },
          "firstRowOnly": false
        }
      },
      {
        "name": "ForEachTable",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "GetTableList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "items": {
            "value": "@activity('GetTableList').output.value",
            "type": "Expression"
          },
          "isSequential": false,
          "batchCount": 4,
          "activities": [
            {
              "name": "CopyTableData",
              "type": "Copy",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "source": {
                  "type": "AzureSqlSource",
                  "sqlReaderQuery": {
                    "value": "@item().SourceQuery",
                    "type": "Expression"
                  },
                  "queryTimeout": "02:00:00",
                  "partitionOption": "None"
                },
                "sink": {
                  "type": "ParquetSink",
                  "storeSettings": {
                    "type": "AzureBlobFSWriteSettings"
                  },
                  "formatSettings": {
                    "type": "ParquetWriteSettings"
                  }
                },
                "enableStaging": false,
                "parallelCopies": 4
              },
              "inputs": [
                {
                  "referenceName": "ds_source_sql_dynamic",
                  "type": "DatasetReference",
                  "parameters": {
                    "schemaName": {
                      "value": "@item().SourceSchema",
                      "type": "Expression"
                    },
                    "tableName": {
                      "value": "@item().SourceTable",
                      "type": "Expression"
                    }
                  }
                }
              ],
              "outputs": [
                {
                  "referenceName": "ds_sink_parquet",
                  "type": "DatasetReference",
                  "parameters": {
                    "containerName": "raw",
                    "folderPath": {
                      "value": "@concat(item().SourceSchema, '/', item().SourceTable, '/', formatDateTime(utcNow(), 'yyyy-MM-dd'))",
                      "type": "Expression"
                    }
                  }
                }
              ]
            },
            {
              "name": "LogSuccess",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [
                {
                  "activity": "CopyTableData",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "storedProcedureName": "[dbo].[usp_log_pipeline_execution]",
                "storedProcedureParameters": {
                  "PipelineName": {
                    "value": {
                      "value": "@pipeline().Pipeline",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "RunId": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "Status": {
                    "value": "Success",
                    "type": "String"
                  },
                  "TableName": {
                    "value": {
                      "value": "@item().SourceTable",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "RowsCopied": {
                    "value": {
                      "value": "@activity('CopyTableData').output.rowsCopied",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "ls_azure_sql",
                "type": "LinkedServiceReference"
              }
            }
          ]
        }
      }
    ],
    "parameters": {},
    "annotations": []
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
