pipelines/pl_incremental_copy_sql.json
{
  "name": "pl_incremental_copy_sql",
  "properties": {
    "activities": [
      {
        "name": "LookupOldWatermark",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "SELECT MAX(LastModifiedDate) as WatermarkValue FROM @{pipeline().parameters.tableName}",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_watermark_table",
            "type": "DatasetReference"
          },
          "firstRowOnly": true
        }
      },
      {
        "name": "LookupNewWatermark",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": "SELECT GETDATE() as NewWatermarkValue",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_source_sql",
            "type": "DatasetReference"
          },
          "firstRowOnly": true
        }
      },
      {
        "name": "IncrementalCopyActivity",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "LookupOldWatermark",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LookupNewWatermark",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "SELECT * FROM @{pipeline().parameters.tableName} WHERE LastModifiedDate > '@{activity('LookupOldWatermark').output.firstRow.WatermarkValue}' AND LastModifiedDate <= '@{activity('LookupNewWatermark').output.firstRow.NewWatermarkValue}'",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "sink": {
            "type": "ParquetSink",
            "storeSettings": {
              "type": "AzureBlobFSWriteSettings"
            },
            "formatSettings": {
              "type": "ParquetWriteSettings"
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "ds_source_sql",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "ds_sink_parquet",
            "type": "DatasetReference",
            "parameters": {
              "containerName": "processed",
              "folderPath": {
                "value": "@concat(pipeline().parameters.tableName, '/', formatDateTime(utcNow(), 'yyyy-MM-dd'))",
                "type": "Expression"
              }
            }
          }
        ]
      },
      {
        "name": "UpdateWatermark",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "IncrementalCopyActivity",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "storedProcedureName": "[dbo].[usp_write_watermark]",
          "storedProcedureParameters": {
            "LastModifiedDate": {
              "value": {
                "value": "@activity('LookupNewWatermark').output.firstRow.NewWatermarkValue",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TableName": {
              "value": {
                "value": "@pipeline().parameters.tableName",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "ls_azure_sql",
          "type": "LinkedServiceReference"
        }
      }
    ],
    "parameters": {
      "tableName": {
        "type": "string",
        "defaultValue": "SalesData"
      }
    },
    "annotations": []
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
